*{
  margin: 0;
  padding: 0;
}

.menu_bar{
  display: flex;
  padding: 20px 30px;
  background-color: white;
  font-size: 16px;
  height: 100px;
  justify-content: space-between;
}

.menu_bar a{
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.logo{
  height: 100%;
}

.menu-left{
  width: 125px;
}

.menu-right{
  display: flex;
  flex: 0.9;
  justify-content: space-between;
  flex-direction: column;
}

.menu-top{
  display: flex;
  flex-direction: row;
  height: 40%;
  justify-content: space-between;
}

.menu-top form{
  display: flex;
  height: 100%;
}

.menu-top form .recherche{
  display: flex;
  height: 100%;
  border: 1px solid black;
  border-radius: 2px;
}

.menu-top form input:first-child{
  width: 400px;
}

.menu_nav{
  display: flex;
  justify-content: space-around;
  height: 40%;
  list-style: none;
  border: 1px solid #353CBE;
  border-radius: 25px;
  background-color: #353CBE;
  opacity: 0.60;
  align-items: center;
  font-size: 13.333px;
}

#button_connexion, #button_deconnexion{
  width: 100px;
  height: 100%;
  border: 1px solid #353CBE;
  border-radius: 25px;
  background-color: #353CBE;
  opacity: 0.60;
  color: white;
}
