#actif{
  position: relative;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

#actif #solde{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  font-size: 35px;
}

#actif #liquidite{
  color: #666666;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 0%);
  font-size: 15px;
}
